nav ul li{
    list-style: none;
    float: left;
    /* display: inline-block; */
    /* display: block;
    float:left; */
    margin: 4px;
    padding: 10px;
    position: relative;
    background-color: grey;
}

a{
    text-decoration: none;
}

nav ul li ul li{
    clear:both;
    display: none;
}

nav ul li:hover > ul li{
    margin: 0px;
    right: 50%;
    display: block;
    line-height: 100%; /*altura de la línea base*/
}